<div class="disqus-wrapper">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_url = '{{ site.site_url }}{{ page.url }}';
        var disqus_identifier = '{{ page.url | no_slash }}';
        (function () {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//gaziga.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
