
.icon-male:before { content: '\e804'; } /* '' */
.icon-female:before { content: '\e803'; } /* '' */
.icon-location:before { content: '\e802'; } /* '' */
.icon-down-open-mini:before { content: '\e809'; } /* '' */
.icon-right-open-mini:before { content: '\e808'; } /* '' */
.icon-fivehundredpx:before { content: '\e807'; } /* '' */
.icon-facebook-light:before { content: '\e806'; } /* '' */
.icon-gmail:before { content: '\e800'; } /* '' */
.icon-rss:before { content: '\e805'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */